<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Varian CR</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <div class="container">
        <form method="post" action="/search" class="form">
          <h2>Buscar Parte</h2>
          <script>
            document.getElementById('form_query').addEventListener('change', function() {
              this.form.submit();
            });
            </script>
            <input type="text" id="search_query" name="form_query" placeholder="Buscar por bodega, número de parte o descripción" required>
            <button type="submit">Buscar</button>
            <button type="button" id="start-scan-search">Escanear Código de Barras</button>
        </form>
        <form method="post" action="/add_part" class="form">
            <h2>Agregar Parte</h2>
            <label for="part_number">Número de Parte:</label>
            <input type="text" id="part_number" name="part_number" required>
            <button type="button" id="start-scan">Escanear Código de Barras</button>
            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" required>
            <label for="quantity">Cantidad:</label>
            <input type="number" id="quantity" name="quantity" required>
            <label for="warehouse">Bodega:</label>
            <input type="text" id="warehouse" name="warehouse" required>
            <button type="submit">Agregar Parte</button>
        </form>
        {% if parts %}
        <table>
          
            <tr> 
              <tr> 
              <td colspan="5"><h2>Listado de Partes</h2></td></tr> 
                <th>Número Parte</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Bodega</th>
                <th class="acciones-col">Acciones</th>
            </tr>
            {% for part in parts %}
            <tr>
                <td>{{ part.part_number }}</td>
                <td>{{ part.description }}</td>
                <td>{{ part.quantity }}</td>
                <td>{{ part.warehouse }}</td>
                <td class="actions acciones-col">
                    <form method="post" action="/update_part" style="display:contents; align-items: center" class="update-form">
                        <input type="hidden" name="id" value="{{ part._id }}">
                        <input type="text" name="part_number" value="{{ part.part_number }}" placeholder="Número de parte" required>
                        <input type="text" name="description" value="{{ part.description }}" placeholder="Descripción" required>
                        <input type="number" name="quantity" value="{{ part.quantity }}" placeholder="Cantidad" required>
                        <input type="text" name="warehouse" value="{{ part.warehouse }}" placeholder="Bodega" required>
                        <button type="submit" class="actualizar-button" style="display:none;">Actualizar</button>
                        <button type="button" class="cancel-button" style="display:none;">Cancelar</button>
                    </form>
                    <form method="post" action="/delete_part" class="delete-form" style="display:contents;">
                        <input type="hidden" name="id" value="{{ part._id }}">
                        <button type="submit" class="delete-button">Borrar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <form action="/clean" method="get">
          <button type="submit" class="clean-button">Limpiar Datos</button>
      </form>
        <form action="/logout" method="get">
            <button type="submit" class="logout-button">Salir</button>
        </form>
        <div id="scanner-modal" class="scanner-modal" style="display:none;">
            <div class="scanner-container">
                <video id="scanner" width="300" height="200" autoplay></video>
                <button type="button" id="close-scanner">Cerrar</button>
            </div>
        </div>
    </div>
    <!-- Incluir QuaggaJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <script src="/static/js/scripts.js"></script>

  <!-- Modal para éxito Add-->
<div id="successAddModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeSuccessAddModal">&times;</span>
    <p>Parte agregada correctamente</p>
    <button id="okSuccessAddBtn">OK</button>
  </div>
</div>

  <!-- Modal para éxito Update -->
  <div id="successUpdateModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeSuccessUpdateModal">&times;</span>
      <p>Parte actualizada correctamente</p>
      <button id="okSuccessUpdateBtn">OK</button>
    </div>
  </div>

    <!-- Modal para éxito Delete-->
<div id="successDeleteModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeSuccessDeleteModal">&times;</span>
    <p>Parte eliminada correctamente</p>
    <button id="okSuccessDeleteBtn">OK</button>
  </div>
</div>

<!-- Modal para error -->
<div id="errorModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeErrorModal">&times;</span>
    <p>Número de parte ya existe en la bodega</p>
    <button id="okErrorBtn">OK</button>
  </div>
</div>

<!-- Modal para found -->
<div id="foundModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeFoundModal">&times;</span>
    <p>Parte o bodéga no encontrada</p>
    <button id="okFoundBtn">OK</button>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  const successAddModal = document.getElementById('successAddModal');
  const closeSuccessAddModal = document.getElementById('closeSuccessAddModal');
  const okSuccessAddBtn = document.getElementById('okSuccessAddBtn');
  
  const errorModal = document.getElementById('errorModal');
  const closeErrorModal = document.getElementById('closeErrorModal');
  const okErrorBtn = document.getElementById('okErrorBtn');

  const successUpdateModal = document.getElementById('successUpdateModal');
  const closeSuccessUpdateModal = document.getElementById('closeSuccessUpdateModal');
  const okSuccessUpdateBtn = document.getElementById('okSuccessUpdateBtn');

  const successDeleteModal = document.getElementById('successDeleteModal');
  const closeSuccessDeleteModal = document.getElementById('closeSuccessDeleteModal');
  const okSuccessDeleteBtn = document.getElementById('okSuccessDeleteBtn');

  const foundModal = document.getElementById('foundModal');
  const closeFoundModal = document.getElementById('closeFoundModal');
  const okFoundBtn = document.getElementById('okFoundBtn');

  if ("{{ success_add }}") {
    successAddModal.style.display = "block";
  }
  
  if ("{{ success_update }}") {
    successUpdateModal.style.display = "block";
  }

  if ("{{ success_delete }}") {
    successDeleteModal.style.display = "block";
  }

  if ("{{ error }}") {
    errorModal.style.display = "block";
  }

  if ("{{ found }}") {
    foundModal.style.display = "block";
  }

  closeSuccessAddModal.onclick = () => { successAddModal.style.display = "none"; };
  okSuccessAddBtn.onclick = () => { successAddModal.style.display = "none"; };

  closeSuccessUpdateModal.onclick = () => { successUpdateModal.style.display = "none"; };
  okSuccessUpdateBtn.onclick = () => { successUpdateModal.style.display = "none"; };

  closeSuccessDeleteModal.onclick = () => { successDeleteModal.style.display = "none"; };
  okSuccessDeleteBtn.onclick = () => { successDeleteModal.style.display = "none"; };

  closeErrorModal.onclick = () => { errorModal.style.display = "none"; };
  okErrorBtn.onclick = () => { errorModal.style.display = "none"; };

  closeFoundModal.onclick = () => { foundModal.style.display = "none"; };
  okFoundBtn.onclick = () => { foundModal.style.display = "none"; };
});
</script>


</body>
</html>